.blue {
    background-color: #bbdefb;
}

.green {
    background-color: #c8e6c9;
}

.red {
    background-color: #ffcdd2;
}

.yellow {
    background-color: #fff9c4;
}

.brown {
    background-color: #d7ccc8;
}